.App{
    width: 40%;
    margin: 2em auto;
    background-color: #394049;
    border-radius: 10px;
    color:#fff;
}  
.todo-header{
    padding: 1em;
    border-bottom:1px solid #2c3035 ;
    text-align: center;

}

.todo-header{
    margin:0;
     
}